body {
    /* RGBA - Last number is for transparency, 0-1 */
    background-color: rgb(128, 0, 128, 0.5);
}

h1{
    color: whitesmoke;
    text-align: center;

    /* Borders */
    background-color: #6a5acd;
    /* can do multiple edits in one line */
    border: 2px dotted tomato;
}

h2{
    font-family:'Times New Roman', Times, serif;
    color: rgb(218, 188, 218);
    font-style: italic bold;
    /* Separate border edits */
    border-top-style: groove;
    border-bottom-style: solid;
    border-right-style: double;
    border-left-style: inset;
    border-width: medium;
    border-color: blue;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color:black;
    
}

h4{
    font-size:32px;
}

h5{
    font-size:24px;
}
p{
    font-family: verdana;
    font-size: 20px;
}

div.columns{
    column-count: 3;
}