body {
    /* RGBA - Last number is for transparency, 0-1 */
    background-color: rgb(128, 0, 128, 0.5);
}

h1{
    color: whitesmoke;
    text-align: center;
    font-size:42px;

    /* Borders */
    background-color: #6a5acd;
    /* can do multiple edits in one line */
    border: 2px dotted tomato;
}

h2{
    font-family:'Times New Roman', Times, serif;
    font-size:32px;
    color: rgb(47, 21, 47);
    font-style: italic bold;
    /* Separate border edits */
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size:24px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color:black;
    
}

h4{
    font-size:32px;
}

h5{
    font-size:24px;
}
p{
    font-family: verdana;
    font-size: 20px;
    margin: 0px;
}

div.columns{
    column-count: 3;
}